In [5]:


file = "table1.txt"
#Beginning
n = int(input("Enter No. of Columns: \n"))
m = int(input("Enter the No of Rows(Don't count the Headings Row): \n"))

with open(file, 'w') as f:
    f.write("\\begin {table}[htbp]\n")
    f.write("\t\centering\n")
    f.write("\t\\begin {tabular}{|l| * {%s}{|c|}}\n"%n)
    f.write("\t\hline\n")
    #print("\\begin {table}[htbp]\n")
    #print("\t\centering\n")
    #print("\t\\begin {tabular}{|l| * {%s}{|c|}}\n"%n)

    #Headings
    S=["" for x in range(n)]
    i=0
    for i in range(n-1):
        S[i] = input("Enter Heading %s:"%(i+1))
        if(i==0):
            S[i] = "\t\\textbf{" + S[0] + "}"
        else:
            S[i] =  S[i-1] + " & " + "\\textbf{" + S[i] + "}"

    S[n-1] = S[n-2] + " & " + "\\textbf{" + input("Enter the last heading") + "}" + "\\" + "\\"

    f.write(S[n-1]+"\n")
    #print(S[n-1])

    #Content
    for j in range(m):
        print("Enter Values in row %s:"%(j+1))
        L=["" for y in range(n)]
        for k in range(n-1):
            if(k==0):
                L[k] = "\t" + input("Enter the value under Heading %s:"%(k+1))
            else:
                L[k] = L[k-1] + " & " + input("Enter the value under Heading %s:"%(k+1))

        L[n-1] = L[n-2] + " & " + input("Enter the last value of this row :") + " \\" + "\\"

        f.write(L[n-1]+"\n")
        #print(L[n-1])

    #The End
    f.write("\t\hline\n")
    f.write("\t\end{tabular}\n")
    #print("\t\end{tabular}\n")
    c = input("Enter caption for your table:")
    f.write("\t\caption{%s}\n"%c)
    #print("\t\caption{%s}"%c)
    f.write("\end{table}\n")
    #print("\end{table}")

f.close()

Enter No. of Columns:
3
Enter the No of Rows(Don't count the Headings Row):
29
Enter Heading 1:Dataset
Enter Heading 2:OCSVM
Enter the last headingCustom NN
Enter Values in row 1:
Enter the value under Heading 1:yahoo1
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 2:
Enter the value under Heading 1:yahoo2
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 3:
Enter the value under Heading 1:yahoo3
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 4:
Enter the value under Heading 1:yahoo5
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 5:
Enter the value under Heading 1:yahoo6
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 6:
Enter the value under Heading 1:yahoo7
Enter the value under Heading 2:0.91
Enter the last value of this row :0.87
Enter Values in row 7:
Enter the value under Heading 1:yahoo8
Enter the value under Heading 2:0.4
Enter the last value of this row :0.86
Enter Values in row 8:
Enter the value under Heading 1:yahoo9
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 9:
Enter the value under Heading 1:Speed_6005
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 10:
Enter the value under Heading 1:Speed_7578
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 11:
Enter the value under Heading 1:Speed_t4013
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 12:
Enter the value under Heading 1:TravelTime_387
Enter the value under Heading 2:0.67
Enter the last value of this row :1
Enter Values in row 13:
Enter the value under Heading 1:TravelTime_451
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 14:
Enter the value under Heading 1:Occupancy_6005
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 15:
Enter the value under Heading 1:Occupancy_t4013
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 16:
Enter the value under Heading 1:yahoo_syn1
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 17:
Enter the value under Heading 1:yahoo_syn2
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 18:
Enter the value under Heading 1:yahoo_syn3
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 19:
Enter the value under Heading 1:yahoo_syn5
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 20:
Enter the value under Heading 1:yahoo_syn6
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 21:
Enter the value under Heading 1:yahoo_syn7
Enter the value under Heading 2:0.95
Enter the last value of this row :0.90
Enter Values in row 22:
Enter the value under Heading 1:yahoo_syn8
Enter the value under Heading 2:0.5
Enter the last value of this row :0.93
Enter Values in row 23:
Enter the value under Heading 1:yahoo_syn9
Enter the value under Heading 2:0.5
Enter the last value of this row :1
Enter Values in row 24:
Enter the value under Heading 1:aws1
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 25:
Enter the value under Heading 1:aws2
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 26:
Enter the value under Heading 1:aws3
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 27:
Enter the value under Heading 1:aws_syn1
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 28:
Enter the value under Heading 1:aws_syn2
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter Values in row 29:
Enter the value under Heading 1:aws_syn3
Enter the value under Heading 2:1
Enter the last value of this row :1
Enter caption for your table:OCSVM and Custom Neural Network Recall Values comparison on 29 Univariate datasets